.carousel {
  border: 20px solid black;
  overflow: hidden;
  width: 635px;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: relative;
  width: 2560px;
}

.slider img{
  float: left;
  border: border: 20px solid black;
}

div {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Rye';
  font-size: 3em;
}

body {
  background-image: URL('img/greyfloral_@2X.png');
}